@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rubik+Doodle+Shadow&display=swap');
.nabar-nav a{
  font-size: 20px;
}

.fun{
  font-family: 'Rubik Doodle Shadow', system-ui;
  font-size: 25px;
}
.men{
  font-family: 'Black Ops One', system-ui;
}
.custom-card {
  transition: box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.00); 
}
